body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E1F5FE;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.quadro {
    display: flex;
    background-color: #3f51b5;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 992px) {
    main {
        flex-direction: row;
        margin-top: 60px;
        justify-content: center;
        height: calc(100vh - 60px);
        border: 1px solid red;
    }
    
    .quadro {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 586px;
        min-height: 586px;
    }

    .cabecalho {
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #1976D2;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }
    .container-lateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        background-color: #ffffffa5;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        margin: 10px;
    }

    .jogador-atual {
        font-size: 20px;
        color: #1976D2;
        font-weight: bold;
        margin: 10px 0;
    }
    
    .titulo {
        color: white;
        font-size: 28px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        position: relative;
    }

    .placar {
        font-size: 18px;
        color: #333;
        margin: 10px 0;
    }
    
    .botao-como-jogar {
        background-color: #1976D2;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease; 
    
        position: absolute;
        top: 0;
        left: 183px;
        margin: 10px;
    }
    
    .botao-como-jogar:hover {
        background-color: #1565C0;
    }
    
    .jogar {
        background-color: #1976D2;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease; 
    
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
    }
    
    .jogar:hover{
        background-color: #1565C0;
    }

    .reiniciar {
        background-color: #1976D2;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease; 
    
        position: absolute;
        top: 0;
        left: 80px;
        margin: 10px;
    }
    
    .reiniciar:hover{
        background-color: #1565C0;
    }
    
    .tela-regras, .tela-vencedor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        justify-content: center;
        align-items: center;
    }
    
    .conteudo-regras, .conteudo-vencedor {
        background-color: #ffffffa5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    
    /* Estilize o botão "Fechar" */
    .conteudo-regras button, .conteudo-vencedor button {
        background-color: #1976D2;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .quadradoGrande {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: calc(100%/3 - 24px);
        height: calc(100%/3 - 24px);
        background-color: #2196F3;
        border: 2px solid #1976D2;
        border-radius: 5px;
        margin: 10px; 
    }
    
    .quadradoPequeno {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
        width: calc(100% / 3 - 4px); 
        height: calc(100% / 3 - 4px); 
        background-color: #64B5F6;
        border: 1px solid #1976D2; 
        font-size: 24px; 
        border-radius: 5px; 
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {

}



.vencedorX {
    background-color: #FF5733;
    color: #FFFFFF;
    font-weight: bold;
}

.vencedorO {
    background-color: #33FF33;
    color: #FFFFFF;
    font-weight: bold; 
}
.quadradoValido {
    background-color: #4CAF50;
    cursor: pointer;
}

.quadradoPequeno:active {
    background-color: #BBDEFB;
}

.quadradoPequeno1, .quadradoPequeno2, .quadradoPequeno3, .quadradoGrande10,.quadradoPequeno11, .quadradoPequeno12, .quadradoPequeno13, .quadradoGrande20,.quadradoPequeno21, .quadradoPequeno22, .quadradoPequeno23, .quadradoGrande30, .quadradoPequeno31, .quadradoPequeno32, .quadradoPequeno33, .quadradoPequeno41, .quadradoPequeno42, .quadradoPequeno43, .quadradoPequeno51, .quadradoPequeno52, .quadradoPequeno53, .quadradoPequeno61, .quadradoPequeno62, .quadradoPequeno63, .quadradoPequeno71, .quadradoPequeno72, .quadradoPequeno73, .quadradoPequeno81, .quadradoPequeno82, .quadradoPequeno83{
    border-top: none;
}

.quadradoGrande10, .quadradoGrande40, .quadradoGrande70, .quadradoPequeno1, .quadradoPequeno4, .quadradoPequeno7, .quadradoPequeno11, .quadradoPequeno14, .quadradoPequeno17, .quadradoPequeno21, .quadradoPequeno24, .quadradoPequeno27, .quadradoPequeno31, .quadradoPequeno34, .quadradoPequeno37, .quadradoPequeno41, .quadradoPequeno44, .quadradoPequeno47, .quadradoPequeno51, .quadradoPequeno54, .quadradoPequeno57, .quadradoPequeno61, .quadradoPequeno64, .quadradoPequeno67, .quadradoPequeno71, .quadradoPequeno74, .quadradoPequeno77, .quadradoPequeno81, .quadradoPequeno84, .quadradoPequeno87{
    border-left: none;
}

.quadradoGrande30, .quadradoGrande60, .quadradoGrande90, .quadradoPequeno3, .quadradoPequeno6, .quadradoPequeno9, .quadradoPequeno13, .quadradoPequeno16, .quadradoPequeno19, .quadradoPequeno23, .quadradoPequeno26, .quadradoPequeno29, .quadradoPequeno33, .quadradoPequeno36, .quadradoPequeno39, .quadradoPequeno43, .quadradoPequeno46, .quadradoPequeno49, .quadradoPequeno53, .quadradoPequeno56, .quadradoPequeno59, .quadradoPequeno63, .quadradoPequeno66, .quadradoPequeno69, .quadradoPequeno73, .quadradoPequeno76, .quadradoPequeno79, .quadradoPequeno83, .quadradoPequeno86, .quadradoPequeno89{
    border-right: none;
}

.quadradoGrande70, .quadradoGrande80, .quadradoGrande90, .quadradoPequeno7, .quadradoPequeno8, .quadradoPequeno9, .quadradoPequeno17, .quadradoPequeno18, .quadradoPequeno19, .quadradoPequeno27, .quadradoPequeno28, .quadradoPequeno29, .quadradoPequeno37, .quadradoPequeno38, .quadradoPequeno39, .quadradoPequeno47, .quadradoPequeno48, .quadradoPequeno49, .quadradoPequeno57, .quadradoPequeno58, .quadradoPequeno59, .quadradoPequeno67, .quadradoPequeno68, .quadradoPequeno69, .quadradoPequeno77, .quadradoPequeno78, .quadradoPequeno79, .quadradoPequeno87, .quadradoPequeno88, .quadradoPequeno89{
    border-bottom: none;
}
